/* LEASE DASHBOARD */

@font-face {
    font-family: SFPro;
    src: url(fonts/FontsFree-Net-SFProText-Medium-1.ttf);
}

/* actions container and action buttons */
#actions_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 16%;
    align-items: left;
    height: 550px;
    margin-left: 1%;
    background-color: rgb(238, 236, 236);
}

/* actions heading */
#actions_title{
    display: inline;
    float: left;
    font-weight: bold;
    color: #21212cda;
    margin: 10%;
    margin-bottom: 2%;
}

#add_button{
    float: left;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    color: #21212cda;
    border-color: #292838da;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10%;
    margin-top: 3%;
}

#add_button:hover{
    background-color: #358b4f;
    color:#e0e0e0da;
    cursor: pointer;
}

#exclude_lease_button{
    float: left;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    color: #21212cda;
    border-color: #292838da;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10%;
    margin-top: 3%;
}

#exclude_lease_button:hover{
    background-color: #358b4f;
    color:#e0e0e0da;
    cursor: pointer;
}

/* heading container */
#title_container{
    display: flex;
    margin-left: auto;
    margin-right: 0%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 80%;
    font-size: 40px;
    font-weight: bold;
}

/* table title inside heading container */
#title{
    font-size: 50px;
    color: #21212cda;
    margin: 0%;
}

/* table content */
#table_container{
    display: flex;
    align-items: stretch;
    justify-content: right;
    margin-left: auto;
    margin-right: 0%;
    width: 80%;
}

table {
    font-size: 20px;
    width: 100%;
    margin-right: 2%;
    overflow: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    background-color: #21212cda;
    color: rgba(240, 240, 240, 0.884);
}

th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
}

tr:hover {
    background-color: #e2e1e1;;
    cursor: pointer;
}
